<div>
<h1>We're RockstarUnicorn.Ninja</h1>
	<h2>Technology:</h2>
	<ul>
		<li>backend: node.js, express.js, tomcat, jade, amazon aws</li>
		<li>front end: angularjs, yeoman, bower, grunt, sass, html5 local storage</li>
	</ul>
	<h2>APIs:</h2>
	<ul>
		<li>Context.io, Paypal, Sendgrid</li>
	</ul>
</div>
<br/>
<div class="center">
	<h3>Thanks to the BattleHack evangelists for the support, Paypal for organizing, and Isobar for hosting us!</h3>  
</div>
<br/>
<div class="container-fluid">
	<div class="row">

<div class= "col-lg-3">
	<h3>John Rodley</h3> 
	<img style="border-radius:100%; width:180px" src="https://media.licdn.com/media/p/3/000/2a6/082/05bdadd.jpg" />
	<p><i class="fa fa-envelope"></i> john@rodley.com</p>
</div>
<div class= "col-lg-3">
		<h3>Kristian Tran</h3>
		<img style="border-radius:100%; width:180px" src="https://media.licdn.com/media/p/3/005/074/1d8/1998511.jpg" />
		<p><i class="fa fa-envelope"></i> kristiantran@gmail.com</p>
		<p><i class="fa fa-twitter"></i> @ktran13</p>
</div>

<div class= "col-lg-3">
	<h3>Tammy Sanders</h3>
	<img style="border-radius:100%; width:180px" src="https://media.licdn.com/media/p/4/000/151/27e/1381ec3.jpg" />
	<p><i class="fa fa-envelope"></i> tsand024@fiu.edu</p>
	<p><i class="fa fa-twitter"></i> @wellstockedmind</p>
</div>

<div class= "col-lg-3">
		<h3>Darren Tseng</h3>
		<img style="border-radius:100%; width:180px" src="https://media.licdn.com/media/p/6/005/013/25f/0f16a09.jpg" />
		<p><i class="fa fa-envelope"></i> info@darrentseng.com</p>
		<p><i class="fa fa-twitter"></i> @dtseng123</p>
</div>

	</div>
</div>