  <div class="jumbotron">
    <div class="row"> 
      <div class="col-lg-6">
    <h1>Funding Providers</h1>
      <p>Discover organizations</p>
      <p>Assess effectiveness</p>
      <p>Find your funding match</p>
      <p><a class="btn btn-lg btn-success" ng-href="#/search"><i class="fa fa-book"></i> Learn More</span></a></p>
      </div>
      <div class="col-lg-6">
    <h1>Funding Recipients</h1>

      <p>Increase your visibility</p>
      <p>Promote your impact</p>
      <p>Attract your funding match</p>
      <p><a class="btn btn-lg btn-success" ng-href="#/search"><i class="fa fa-book"></i> Learn More</span></a></p>
      </div>
    </div>
  </div>

  <div class="row marketing"> 
  </div>