<div data-ng-show="profileCtrl.nonprofit">

<div class="row">
	<div div class="col-lg-8">
	<h3>{{ profileCtrl.nonprofit.name }} | SCORE: {{ profileCtrl.nonprofit.overall }}<span data-ng-show="profileCtrl.nonprofit.overall">/70</span><span data-ng-hide="profileCtrl.nonprofit.overall">Pending</span></h3><a href="{{profileCtrl.nonprofit.website}}">{{profileCtrl.nonprofit.website}}</a>  <p><i class="fa fa-map-marker"></i> Address: {{ profileCtrl.nonprofit.address }} <i class="fa fa-phone"></i>| <i class="fa fa-user"></i> Leadership: {{ profileCtrl.nonprofit.board_leadership }} | <i class="fa fa-user"></i> CEO: {{ profileCtrl.nonprofit.ceo }} </p>
	</div>
	<div div class="col-lg-4">
		<div data-ng-show="profileCtrl.showConfirmEditView">
			<button type="button" data-ng-click="profileCtrl.confirmedInfo()" data-ng-show="profileCtrl.showConfirm" class="btn btn-success">Confirm Info</button>
			<span class="text-success" data-ng-hide="profileCtrl.showConfirm">Saved! <i class="info fa fa-check-circle-o"></i></span>
			<button type="button" class="btn btn-info">Edit</button>
		</div>

		<div data-ng-show="profileCtrl.showApproveButton">
			<p>Donation Amount: {{ profileCtrl.donation.donationAmount | currency }} <i class="info fa fa-check-circle-o"></i></p>
			<button type="button" data-ng-click="profileCtrl.approve()" class="btn btn-success">Sign into Paypal</button>
			<p class="text-muted">* you will be redirected to paypal and will be able to review your donation before processing.</p>
			</div>

			<div data-ng-show="profileCtrl.showDonateButton">
			<label for="donationAmount" class="control-label">Please enter a value to donate: $</label>
			<form class="form-inline" role="form" name="donationForm" novalidate>
			  <div class="form-group">
			  	<span data-ng-class="{'has-error': donationForm.donationAmount.$dirty && donationForm.donationAmount.$invalid }">
				  	<div class="row">
					    <div class="">
					    	<input type="number" name="donationAmount" data-ng-model="profileCtrl.donation.donationAmount" data-ngmin="0" class="form-control" id="donationAmount" placeholder="0.00" required>
					    </div>
				  	</div>
			  	</span>
			  </div>
			  <button type="button" data-ng-click="profileCtrl.donate(donationForm)" class="btn btn-success">Donate</button>
			</form>
			</div>
	</div>
</div>
	
	<div class="row">
		<div class="col-lg-4">		
			<h4>Mission</h4><hr> 
			<p>{{ profileCtrl.nonprofit.mission }}</p>
			<img class="score-graph" src="{{ profileCtrl.nonprofit.score_graph}}" />
		</div>

		<div class="col-lg-8">	
			<h4>Income Statement {{ profileCtrl.nonprofit.year_fye }}</h4><hr>
			<div class="col-lg-6">
				<table>
 				<tr>
    				<th><h4>REVENUE</h4></th>
   				 	<th></th>
  				</tr>
  				<tr>
    				<td><h5>Contributions</h5></td>
    				<td></td>
  				</tr>
  				<tr>
   					<td>Contributions, Gifts &amp; Grants</td>
    				<td>{{ profileCtrl.nonprofit.cont_gifts_grants }}</td>
  				</tr>
  				<tr>
    				<td>Federated Campaigns</td>
   	 				<td>{{ profileCtrl.nonprofit.federated_campaigns }}</td>
  				</tr>
  				<tr>
    				<td>Related Organizations</td>
    				<td>{{ profileCtrl.nonprofit.related_orgs }}</td>
  				</tr>
  				<tr>
    				<td>Government Grants</td>
    				<td>{{ profileCtrl.nonprofit.govt_grants }}</td>
  				</tr>
  				<tr>
    				<td><h5> Total Contributions</h5></td>
    				<td><h5>{{ profileCtrl.nonprofit.total_contributions }}</h5></td>
  				</tr>
  				<tr>
    				<td>Program Service Revenue</td>
    				<td>{{ profileCtrl.nonprofit.program_service_reven }}</td>
  				</tr>
  				<tr>
    				<td><h5> Total Primary Revenue</h5></td>
    				<td><h5>{{ profileCtrl.nonprofit.total_primary_revenue }}</h5></td>
  				</tr>
  				<tr>
    				<td>Other Revenue</td>
    				<td>{{ profileCtrl.nonprofit.other_revenue }}</td>
  				</tr>
  				<tr>
    				<td>TOTAL REVENUE</td>
    				<td><h4>{{ profileCtrl.nonprofit.total_revenue }}</h4></td>
    			</tr>
				</table>
			</div>	

			<div class="col-lg-6">
			
				<table>
  				<tr>
    				<th><h4>EXPENSES</h4></th>
    				<th></th>
  				</tr>
  				<tr>
    				<td>Program Expenses</td>
    				<td>{{profileCtrl.nonprofit.program_expense}}</td>
  				</tr>
  				<tr>
    				<td>Administrative Expenses</td>
   				 	<td>{{profileCtrl.nonprofit.admin_expense}}</td>
  				</tr>
  				<tr>
    				<td>Fundraising Expenses</td>
    				<td>{{profileCtrl.nonprofit.fundraising_expense}}</td>
  				</tr>
  				<tr>
   				 	<td><h4>TOTAL FUNCTIONAL EXPENSES</h4></td>
    				<td><h4>{{profileCtrl.nonprofit.total_func_expenses}}</h4></td>
  				</tr>
  				<tr>
    				<td>Payments to Affiliates</td>
    				<td>{{profileCtrl.nonprofit.payments_affiliates}}</td>
  				</tr>
  				<tr>
   	 				<td>Excess or (Deficit) this year</td>
    				<td>{{profileCtrl.nonprofit.excessordeficit_year}}</td>
  				</tr>
  				<tr>
    				<td>Net Assets</td>
    				<td>{{profileCtrl.nonprofit.net_assets}}</td>
  				</tr>
				</table>
			</div>


			
				
			
		</div>

	</div>