doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=1050")
    meta(name="language",content="english")
    block headers
  body 
    block content
    
    

